################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dependencies/__pycache__
/DailyMaxMin.xlsx
/DailyProfile.xlsx
/Max_Min_kW_By_Day_of_Week.png
/Monthly_kW_by_Day_of_Week.png
/Monthly_kW_by_Time_of_Day.png
/Monthly_Peak_Profile.png
/NormalizedIntervalData.xlsx
/Peak_Frequency_by_Peak_Value.png
/Peak_Frequency_by_Time_of_Day.png
build/Controller/Analysis-00.toc
build/Controller/base_library.zip
build/Controller/Controller.pkg
build/Controller/EXE-00.toc
build/Controller/localpycs/pyimod01_archive.pyc
build/Controller/localpycs/pyimod02_importers.pyc
build/Controller/localpycs/pyimod03_ctypes.pyc
build/Controller/localpycs/pyimod04_pywin32.pyc
build/Controller/localpycs/struct.pyc
build/Controller/PKG-00.toc
build/Controller/PYZ-00.pyz
build/Controller/PYZ-00.toc
build/Controller/warn-Controller.txt
build/Controller/xref-Controller.html
Controller.spec
Dependencies/View.py
dist/DailyMaxMin.xlsx
dist/DailyProfile.xlsx
dist/IIAC_DataAnalysisTool.exe
dist/Max_Min_kW_By_Day_of_Week.png
dist/Monthly_kW_by_Day_of_Week.png
dist/Monthly_kW_by_Time_of_Day.png
dist/Monthly_Peak_Profile.png
dist/NormalizedIntervalData.xlsx
dist/Peak_Frequency_by_Peak_Value.png
dist/Peak_Frequency_by_Time_of_Day.png
